* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

/* Tag resets */

html {
    font-family: 'Khula', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    /* width: 100%; */
    display: block;
}

section img {
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-block: 1.5em;
    padding-inline: 20px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 3em;
}

.header-left ul {
    display: flex;
    gap: 2.5em;
}

.header-right ul {
    display: flex;
    align-items: center;
    gap: 2.5em;
}

.section-content {
    display: flex;
    width: 60vw;
    margin: 0 auto;
}

.section-img {
    position: relative;
    flex-basis: 70%;
}

.section-text {
    flex-basis: 30%;
    font-size: 19px;
}

section.first img {
    position: absolute;
}

button {

    padding: 10px 20px;
    color: white;
    background-color: #0061ff;
    border: 0;
    font-size: 17px;
}

section.first button {
    margin-block: 1.5em;
}

.arrow-down {
    margin-top: 80px;
    font-size: 25px;
    padding-bottom: 30px;
}

.light-blue {
    background-color: #b4d0e7;

}

section {
    margin-bottom: 9.3em;
}


section.first h1 {
    text-align: left;
    font-size: 70px;
    font-weight: 800;
    padding: 2.5em 0 0.5em 0;
    width: 60vw;
    margin: 0 auto;
}

.section-container,
.footer-container {
    /* padding-top: 150px; */
    width: 60vw;
    margin: 0 auto;
}

.section-container h2 {
    font-size: 40px;
}

.radio {
    padding-block: 5em;
}

.first_label {
    margin-right: 3.125em;
}

.highlight {
    text-decoration: underline;
    color: #0000ee;
}

.plan-text hr,
.company-center-text hr {
    width: 20%;
    border: 0.5px solid #d0d0d3;
}

.business-plans {
    display: flex;
    justify-content: space-between;
    gap: 3.12em;
    margin-bottom: 2em;
}

.single {
    border: 1px solid #d0d0d3;
    flex-basis: calc(100% / 3);
}


.plan-type {
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding-block: 10px;
}

.plan-text {
    width: 80%;
    margin: 30px auto;
}

.plan-text h3,
.team-text-left h3 {
    font-size: 25px;
    margin-bottom: 28px;
}

.price,
.team-text h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3.5em;
}

.plan-description {
    display: flex;
    flex-direction: column;
    gap: 1.9em;
}

.plan-text button {
    width: 100%;
}

.team {
    border: 1px solid #d0d0d3;
}

.team-text {
    display: flex;
    justify-content: space-between;
    margin-block: 30px;
    gap: 200px;
}

.team-text-left {
    flex-basis: 70%;
    padding-left: 2em;
}


.team-text-right {
    flex-basis: 30%;
    align-self: top;
    text-align: center;
}

.section-container.three {
    display: flex;
    gap: 3.12em;
}

.section-container.three figure {
    flex-basis: 60%;
}

.section-container.three .section-text {
    padding-top: 3.75em;
}

.section-container.three .section-text h3,
.section-container.three .section-text p {
    padding-bottom: 2em;
}

.section-container.three button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.card-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc((100% / 3) - (50px * 2 / 3))
}

.card h3 {
    font-size: 25px;
    margin-bottom: 1.5em;
}

.section-container.fifth h2 {
    width: 60%;
    margin-bottom: 2em;
}

section.company {
    display: flex;
    height: 600px;
}

.company-right,
.company-left {
    flex-basis: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.company-center-text {
    flex-basis: calc(100% / 3);
    background-color: #f5f5f5;
    padding-inline: 50px;
    padding-top: 60px;
}

.company-center-text img {
    width: 47%;
}

.company-center-text hr {
    margin-block: 50px;
}

.company-center-text blockquote {
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 120%;
    font-weight: 300;
}

.square {
    flex-basis: 50%;
    height: 50%;
    position: relative;
}

.square.left:nth-of-type(1) {
    background: #a2d39b;
    border: 15px solid #d1e9cd;
}

.square.left:nth-of-type(2) {
    background: #61082b;
}

.square.left:nth-of-type(3) {
    background: #0093ce;
}

.square.left:nth-of-type(4) {
    background: #ff1c1c;
}

.square.right:nth-of-type(1) {
    background: #d5001f;
}

.square.right:nth-of-type(2) {
    background: #b4d0e7;
}

.square.right:nth-of-type(3) {
    background: #0d2481;
}

.square.right:nth-of-type(4) {
    background: #ffd830;
}

.square img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: white;
}

.sixth {
    display: flex;
    gap: 15em;
    align-items: top;
    padding-block: 9.5em;
    margin-top: -9.3em;
}

.sixth h2 {
    width: 50%;
    padding-left: 60px;
    color: #61082b;
    line-height: 130%;
}

.sixth button {
    background-color: white;
    color: black;
    padding-inline: 50px;
}

.faq h2 {
    margin-bottom: 1.6em;
}

.faq-container p {
    padding-block: 3.15em;
    font-weight: bold;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: black;
    color: white;
}

footer a {
    color: white;
}